<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">Verificación de Cuenta</h2>
    
    <div *ngIf="isLoading" class="auth-subtitle">
      Procesando tu solicitud...
    </div>

    <div *ngIf="!isLoading" [ngClass]="{'alert-success': isSuccess, 'alert-error': !isSuccess}" class="alert">
      {{ message }}
    </div>

    <div *ngIf="isSuccess">
        <p class="auth-subtitle">Ya puedes acceder a tu Gramola.</p>
        <a routerLink="/" class="btn-primary" style="display: inline-block; text-decoration: none;">Ir al Inicio</a>
    </div>

    <div *ngIf="!isSuccess && !isLoading">
        <p class="auth-subtitle">Por favor, contacta con soporte o intenta registrarte nuevamente.</p>
        <a routerLink="/register" class="btn-link">Volver al Registro</a>
    </div>

  </div>
</div>